body {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)), url("https://images.theconversation.com/files/345501/original/file-20200703-29-1b6b93y.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop");
  height: 125vh;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.header {
  font-family: 'Mali', cursive;
  font-size: 85px;
  color: #2b2d42;
  text-align: center;
}


.itemCard {
  border-radius: 10px;
  box-shadow: 0px 5px 20px black;
  margin: 40px;
  display: flex;
  flex-direction: column;
  background: white;
  align-items: center;
  float: left;
  padding: 30px;
  gap: 10px 0px 20px;
}

.item-image {
  text-align: center;
  margin-bottom: 5px;
}

.content {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Mali', cursive;
}

p, h2, h4 {
  font-family: 'Mali', cursive;
  color: #000;
}

.addItem {
  font-family: 'Mali', cursive;
  font-size: 25px;
  margin-top: 5px;
}

.trailForm {
  border-radius: 10px;
  box-shadow: 0px 5px 20px black;
  margin: 40px;
  display: flex;
  flex-direction: column;
  background: white;
  align-items: center;
  float: left;
  padding: 30px;
  gap: 10px 0px 20px;
}